<!doctype html>
<html>
<head>
	<title>Library How-to</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 50%;
        width: 50%;
      }
    </style>
    <style>
        .tutorial::first-letter {
            font-size: 150%;
        }
    </style>
</head>


<body>

	{{{body}}}
</body>

</html>
