<div class="container">

<h1>Google Maps API How-to Guide</h1>

<h2>Page 3 - Randomizing our Location</h2>

<div class="tutorial">
    Street View is a go! The next step in our imitation Geoguessr game is to randomize your location. Now, accurately imitating Geoguessr on this point is far beyond the scope of this project, since street view fails to load unless the coordinates you randomly give it are actually on a street, and deciding what coordinates are streets and what aren't requires data that I just don't have access to.<br />
    My workaround is simple: We'll hardcode in a set of valid coordinates, which are randomly chosen from.
</div>

<div class="tutorial">
    I chose three coordinates as a test set for this stage of our code. They represent the OSU campus, Liberty Island, and the Grand Canyon. Feel free to refresh this page until you have seen all three possibilities.<br />
    After having chosen these locations, I went to <a href="http://maps.google.com">Google Maps</a> and found each location, then went to street view by clicking the yellow person and then on a suitable street in my desired location. Then I hit the "drop a pin" button, and found the coordinates of the pin. These are then loaded into an array of positions in our code, and the Javascript Math.random() function chooses a set of coordinates at random, then passes it into the google maps panorama parameters.
    
    Our code is now:
</div>
    
<!-- HTML generated using hilite.me --><div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><pre style="margin: 0; line-height: 125%"><span style="color: #007700">&lt;div</span> <span style="color: #0000CC">id=</span><span style="background-color: #fff0f0">&quot;map&quot;</span><span style="color: #007700">&gt;&lt;/div&gt;</span>
<span style="color: #007700">&lt;script&gt;</span>
    <span style="color: #008800; font-weight: bold">function</span> initMap(){
        <span style="color: #008800; font-weight: bold">var</span> osu <span style="color: #333333">=</span> {lat<span style="color: #333333">:</span> <span style="color: #6600EE; font-weight: bold">44.561962</span>, lng<span style="color: #333333">:</span> <span style="color: #333333">-</span><span style="color: #6600EE; font-weight: bold">123.279650</span>};
        <span style="color: #008800; font-weight: bold">var</span> statue <span style="color: #333333">=</span> {lat<span style="color: #333333">:</span> <span style="color: #6600EE; font-weight: bold">40.69034677176927</span>, lng<span style="color: #333333">:</span> <span style="color: #333333">-</span><span style="color: #6600EE; font-weight: bold">74.0463689672561</span>};
        <span style="color: #008800; font-weight: bold">var</span> canyon <span style="color: #333333">=</span> {lat<span style="color: #333333">:</span> <span style="color: #6600EE; font-weight: bold">36.10111723671108</span>, lng<span style="color: #333333">:</span> <span style="color: #333333">-</span><span style="color: #6600EE; font-weight: bold">112.0954389500144</span>}
        <span style="color: #008800; font-weight: bold">var</span> coordinates <span style="color: #333333">=</span> [osu, statue, canyon];
        <span style="color: #008800; font-weight: bold">var</span> pos <span style="color: #333333">=</span> coordinates[(<span style="color: #007020">Math</span>.floor(<span style="color: #007020">Math</span>.random()<span style="color: #333333">*</span>coordinates.length))]
        <span style="color: #008800; font-weight: bold">var</span> panorama <span style="color: #333333">=</span> <span style="color: #008800; font-weight: bold">new</span> google.maps.StreetViewPanorama(
          <span style="color: #007020">document</span>.getElementById(<span style="background-color: #fff0f0">&#39;map&#39;</span>), {
            position<span style="color: #333333">:</span> pos,
            pov<span style="color: #333333">:</span> {
              heading<span style="color: #333333">:</span> <span style="color: #0000DD; font-weight: bold">34</span>,
              pitch<span style="color: #333333">:</span> <span style="color: #0000DD; font-weight: bold">10</span>
            }
        });
    }
<span style="color: #007700">&lt;/script&gt;</span>

<span style="color: #007700">&lt;script </span><span style="color: #0000CC">src=</span><span style="background-color: #fff0f0">&quot;https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&amp;callback=initMap&quot;</span>
<span style="color: #0000CC">async</span> <span style="color: #0000CC">defer</span><span style="color: #007700">&gt;&lt;/script&gt;</span>
</pre></div>

    
</div>

<div id="map"></div>

<div id="coordinates" style="display: none"></div>

<div class="container">

<div class="nav">
    <a href="/page2">Previous Page</a>
</div>

<div class="nav">
    <a href="/page4">Next Page</a>
</div>
    
</div>

<script>
    function initMap(){
        var osu = {lat: 44.561962, lng: -123.279650};
        var statue = {lat: 40.69034677176927, lng: -74.0463689672561};
        var canyon = {lat: 36.10111723671108, lng: -112.0954389500144}
        var coordinates = [osu, statue, canyon];
        var pos = coordinates[(Math.floor(Math.random()*coordinates.length))];
        var panorama = new google.maps.StreetViewPanorama(
          document.getElementById('map'), {
            position: pos,
            pov: {
              heading: 34,
              pitch: 10
            }
        });
        document.getElementById("coordinates").innerHTML = pos.lat;
        document.getElementById("coordinates").innerHTML += pos.lng;
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLSWmihkL45ufBKGUKkUvA2Metjr5aky0&callback=initMap"
async defer></script>