<h1>Google Maps API How-to Guide</h1>

<h2>Page 2 - Getting into Street View</h2>


<div class="nav">
    <a href="/page1">Previous Page</a>
</div>

<div class="nav">
    <a href="/page3">Next Page</a>
</div>